[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "galvanizer"]
	path = galvanizer
	url = https://github.com/jonlinca/galvanizer
